<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <a href="users/new">Add new user</a>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
    <% users.forEach(function(user) { %>
      <div>
        <span><%= user.firstName %></span>
        <span><%= user.lastName %></span>
        <span><%= user.dob %></span>
        <span><%= user.email %></span>
        <form action="<%= `/users/${user.id}?_method=DELETE` %>" method="POST">
          <button type="submit" />x</button>
        </form>
      </div>
    <% }); %>
  </body>
</html>

